.modalContent {
  width: 600px;
  height: fit-content;
  background: #FFFFFF;
  border: 1px solid rgba(1, 27, 64, 0.1);
  box-sizing: border-box;
  padding: 32px;
  position: relative;
  box-shadow: 0px 4px 71px rgba(1, 27, 64, 0.12);
  border-radius: 20px;
}
.flex:nth-of-type(1) {
  display: flex;
  margin-bottom: 33px;
}
.flexy {
  display: flex;
  align-items: center;
}
.flexChild1:nth-of-type(1) {
  display: flex;
  flex: 1;
  align-items: center;
}
.customInput {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: black;
}
.span {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: -0.02em;
  color: #2447C4;
}
.flexChild2:nth-of-type(1) {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.card {
  display: flex;
  width: 100%;
  padding-left: 6px;
  height: 154px;
  background: #FFFFFF;
  border: 1px solid rgba(1, 27, 64, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
}
@media screen and (max-width: 590px) {
  .span {
    font-size: 30px;
  }
  .cardPara {
    margin-bottom: 30px;
  }
  .item1 {
    margin-top: -20px;
  }
  .form {
    margin-top: 27.7px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }
  .card {
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    padding-left: 0px;
  }
  .flexChild11 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width:590px) {
  .flexChild11Img {
    display: none;
  }
}
@media screen and (max-width:453px) {
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: none;
  }
}
.flexChild11Img {
  border-radius: 6px;
  position: relative;
  top: 6px;
}
.flexChild11 {
  flex: 0.7;
}
.flexChild12 {
  flex: 1;
  padding-left: 20px;
  display: flex;
  align-items: center;
  /* border: #2447C4 solid 3px; */
}
.cardPara {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  position: relative;
  /* line-height: 30px; */
  letter-spacing: -0.02em;
  color: #2447C4;
}
/* .item1 > p {
margin-bottom: 0px;
top: -20px;
} */
.item1 {
  align-items: center;
  margin-bottom: 0px;
  display: inline-flex;
  color: rgba(1, 27, 64, 0.7);
  margin-right: 5px;
  margin-top: -20px;
}
.item1 >img {
  margin-right: 8px;
}
.item2 >img {
  margin-right: 8px;
}
.item2 {
  display: inline-flex;
  position: relative;
  top: -23px;
  padding-left: 8px;
  color: rgba(1, 27, 64, 0.7);
  margin-right: 0px;
  margin-bottom: 9px;
}
.form {
  margin-top: 27.7px;
  margin-bottom: 32px;
  display: flex;
  width: 100%;
  gap: 20px;
}
.formItem1 div label > img {
  position: relative;
  left: 6px;
  top: 3px;
}
.formItem2 div label > img {
  position: relative;
  left: 6px;
  top: 3px;
}
.formItem1 div > label {
  margin-bottom: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #2447C4;
}
.formItem1 div > input {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  border: 1px solid rgba(1, 27, 64, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
}
.formItem1 div  > input::placeholder {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: rgba(1, 27, 64, 0.3);
}
.formItem1 {
  display: flex;
  flex: 1;
}
.formItem2 {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.formItem2 div > label {
  margin-bottom: 20px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #2447C4;
}
.formItem2 div {
  width: 100%;
}
.formItem1 div {
  width: 100%;
}
.formItem2 div > input {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  border: 1px solid rgba(1, 27, 64, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
}
.formItem2 div  > input::placeholder {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: rgba(1, 27, 64, 0.3);
}
.formItem {
  flex: 1;
  display: flex;
}
.checkbox {
  background: #2447C4;
  height: 24px;
  width: 24px;
  color: #2447C4;
  margin-right: 20px;
}
.txt1 {
  display: inline;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  position: relative;
  top: -3px;
  letter-spacing: -0.02em;
  color: #011B40;
}
.txt7 {
  display: inline;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #274cc1;
  text-decoration: underline;
}
.txt2 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-left: 48px;
  letter-spacing: -0.02em;
  color: rgba(1, 27, 64, 0.5);
}
.txt3 {
  color: #274cc1;
}
.block1 {
  width: 100%;
  height: fit-content;
  background: rgba(111, 207, 151, 0.1);
  border: 1px solid rgba(111, 207, 151, 0.8);
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 24px;
  padding: 5px;
  display: flex;
  align-items: center;
}
.block2 {
  width: 100%;
  padding-top: 53px;
  height: fit-content;
}
.txt4 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #219653;
  margin-bottom: 0px;
}
.txt5 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(1, 27, 64, 0.5);
  margin-top: 0px;
}
.txt6 {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #EB5757;
}
.block3 {
  display: inline-block;
  float: left;
  position: relative;
  bottom: 31px;
}
.btn {
  display: inline-block;
  float: right;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 10px 18px 13px;
  background: #2447C4;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
}
.block3 > p:nth-child(1) {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #011B40;
  margin-bottom: 0px;
}
.block3 > p:nth-child(2) {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: rgba(1, 27, 64, 0.7);
  margin-top: 0px;
}