.modal {
box-sizing: border-box;
position: absolute;
margin-top: -96px;
justify-content: center;
width: 100%;
height:100%;
z-index: 9999;
display: flex;
-ms-overflow-style: none; 
scrollbar-width: none;
overflow-y: scroll;
}
.modal::-webkit-scrollbar {
display: none;
}

